*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  div#contenedor{
    width: 100vw ;
  
  }
  #encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: #54FCB6;
    width:100% ;
    height: 7vh;
    padding: 0 15px;
}
  .header-doc-helper{
    display: flex;
}

.header-titulo{
    font-size: 2em;
}

.header-fecha{
    font-size: 1.5em;
    font-weight: 600;
}

.img-logo{
    width: 32px;
    height: 32px;
    margin: 0 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../../Images/terapia.png");
}
#main-content{
  width: 100vw;
  display: flex;
}

#sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 7vh;
  width: 20vw;
  height: 93vh;
  background-color: #3BA277;
}

#img-chedule{
  width: 150px;
  height: 150px;
  background-image: url('../../../Images/Group\ 1.png');
  background-position: center;
  background-size: cover;
  margin-top: 20px;
  margin-bottom: 20px;
}
.ul-sidebar{
  list-style: none;
  color: black;
  text-decoration: underline;
  font-size: 30px;
}

.li-sidebar{
  margin-top: 30px;
  cursor: pointer;
}

.cita-card{
  margin:1vw;
  width: 75vw;
  background-color: #76F68A;
  border-radius: 7px;
  padding: 20px;
}



.cita-contenido{
  display: flex;
  flex-direction: column;
  background-color: #C8E7BE;
  padding: 5px;
}
 
.span-container{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.span-container-2{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.p-cita-descripcion{
  text-align: center;
  margin: 10px 0px;
}

.cita-fecha{
  text-align: center;
  margin: 10px 0px;
}